/*
 * vars
 */

$primary: hsl(240, 69%, 49%);
$secondary: hsl(240, 100%, 94%);
$success: hsl(147, 69%, 49%);
$error: hsl(0, 100%, 50%);

/*
 * document
 */

html,
body {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0 18px;

    font-family: "Source Sans Pro", sans-serif;
}

h1 {
    font-weight: 900;
}

p {
    line-height: 1.5;
}

a {
    color: $primary;
}

code {
    font-weight: 600;
}

button,
input {
    padding: 8px 12px;
    border: none;
    border-radius: 2px;

    &:not(:disabled) {
        cursor: pointer;
    }
}

button {
    border: solid 1px $secondary;
}

progress {
    width: 100%;

    appearance: none;
    color: $primary;
    background-color: $secondary;
    border: none;
    border-radius: 2px;

    overflow: hidden;

    &::-webkit-progress-bar {
        background-color: $secondary;
    }

    &::-moz-progress-bar,
    &::-webkit-progress-value {
        background-color: $primary;
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    td {
        padding: 4px 8px;
        border: solid thin black;
    }

    button {
        margin: 4px;
    }
}

.error {
    color: $error;
}

/*
 * section
 */

.section {
    margin: 64px auto;
    max-width: 512px;

    & > p:first-of-type {
        font-weight: 600;
    }

    #playlists {
        table {

            thead {
                font-weight: 600;

                tr {
                    background-color: $secondary;
                }
            }
            
            tr {

                &:nth-of-type(2n) {
                    background-color: $secondary;
                }
            }

            td {
                border: none;

                &:nth-of-type(2) {
                    text-align: right;
                }
            }
        }
    }
}

/*
 * header
 */

header {
    h1 {
        position: relative;
        
        padding-bottom: 32px;

        color: white;
        background-color: $primary;

        &::before {
            content: "";

            position: absolute;
            bottom: 0;
            left: -450%;

            width: 1000%;
            height: 1000%;

            background-color: $primary;

            z-index: -1;
        }
    }
}

/*
 * footer
 */

footer {
    font-size: .8rem;
}